In [4]:
#functions
def greet():
    print("hello people")

In [3]:
#calling a function
def greet():
    print("hello people")


greet()

hello people

In [10]:
def name(name):
    print("hello!",name)

name("veeresh")

hello! veeresh

In [1]:
def vehicle(car):
    print(car,"is best in cars")

vehicle("bmw")

bmw is best in cars

In [18]:
#passing arguments
def vehicle(bike):
    print(bike,"bike is in best design")


vehicle("Bmw")
vehicle("Ktm")
vehicle("Ninja")

Bmw bike is in best design
Ktm bike is in best design
Ninja bike is in best design

In [26]:
def name(name1):
    print(name1)

    
name("veeresh")
name("Pasagadugula")

veeresh
Pasagadugula

In [31]:
def name(name1,name2):
    print(name1,name2)

    
name("Veeresh","Pasagadugula")

Veeresh Pasagadugula

In [2]:
#arbitary arguments in this we use index values
def vehicles(*bikes):
    print(bikes[2],)


vehicles("bmw","ninja","enfield")

enfield

In [3]:
#keyword arguments
def vehicles(bike1,bike2,bike3):
    print(bike2,"is very cool and awesome design")


vehicles(bike1="bmw",bike2="ninja",bike3="ktm")

ninja is very cool and awesome design

In [44]:
#arbitray keyword arguments in this we use key value.
def vehicles(**bikes):
    print(bikes["bike2"],"bike is high level integrated design")


vehicles(bike1="bmw",bike2="ninja")

ninja bike is high level integrated design

In [8]:
def country(country="paris"):
    print(country,"one of the best city")


country()

paris one of the best city

In [1]:
def name(food):
    for x in food:
        print(x)

fruits=["orange","kiwi","cherry","mango"]
name(fruits)

orange
kiwi
cherry
mango

In [4]:
def name(x):
    return 4 * x
print(name(4))
print(name(5))
print(name(6))

16
20
24

In [6]:
def func1():
    pass

In [37]:
#user defined function
def square(number):
    return number**2

result=square(5)
print(result)

25

In [21]:
def func(string):
    return(len(string))

print((func("Python Programming")))

18

In [29]:
#default arguments
def num(n1,n2=25):
    print("number 1 :",n1)
    print("number 2 :",n2)

print("passing only one argument")
num(20)

print("passing two arguments")
num(50,60)

passing only one argument
number 1 : 20
number 2 : 25
passing two arguments
number 1 : 50
number 2 : 60

In [31]:
#Keyword arguments
def num(n1,n2):
    print("number 1 :",n1)
    print("number 2 :",n2)

print("without using keyword")
num(20,30)

print("with using keyword")
num(n1=50,n2=60)

without using keyword
number 1 : 20
number 2 : 30
with using keyword
number 1 : 50
number 2 : 60

In [35]:
#required arguments
def num(n1,n2):
    print("number 1 :",n1)
    print("Number 2 :",n2)

print("passing out of order argument")
num(30,20)

print("passing only one argument")
try:
    num(30)
except:
    print("Function need two positinal arguments")

passing out of order argument
number 1 : 30
Number 2 : 20
passing only one argument
Function need two positinal arguments

In [1]:
func = lambda x,y: x+y 
print(func(5,6))

11

In [15]:
add= lambda num:num+7
print(add(6))

13

In [6]:
def func(n):
    return lambda x:x*n

result=func(4)
print(result(11))

44

In [14]:
def func(string):
    return lambda x: x + string
result=func(" programming")
print(result("Python"))

Python programming

In [18]:
def reciprocal(number):
    return 1/number

reciprocal = lambda number: 1/number
print(reciprocal(100))
print(reciprocal(111))

0.01
0.009009009009009009

In [20]:
def cube(x):
    return x*x*x

cube=lambda x:x*x*x
print(cube(9))
print(cube(8))

729
512

In [26]:
def word():
    string="Python Programming"
    x=23
    def num():
        print(string)
        print(x)

    num()
word()

Python Programming
23
Python Programming
23

In [27]:
string="hello people"

func=lambda string:string.upper()
print(func(string))

HELLO PEOPLE

In [34]:
animals=["dog","cat","horse","rabbit","lion"]

animals1=list(map(lambda animal:animal.upper(),animals))
print(animals1)

['DOG', 'CAT', 'HORSE', 'RABBIT', 'LION']

In [51]:
num=[10,24,12,11,53,32,23,21]
number2=list(map(lambda num:(num // 2),num))
print(number2)

[5, 12, 6, 5, 26, 16, 11, 10]

In [37]:
num=[4,5,7,9,3,4,6,2]
number1=list(filter(lambda num:(num % 2==0),num))
print(number1)

[4, 4, 6, 2]

In [45]:
age=[19,25,23,42,14,13,17,18]
age1=list(filter(lambda age:(age<=18),age))
print(age1)

[14, 13, 17, 18]

In [56]:
from functools import reduce
list=[1,2,3,4,5,6,7,8,9]
sum=reduce((lambda x,y:x+y),list)
print(sum)

45