In [7]:
tuple=("bike","car","plane","auto")
print(tuple)

('bike', 'car', 'plane', 'auto')

In [8]:
tuple=("apple",23,76.4,True,False)
print(tuple)

('apple', 23, 76.4, True, False)

In [9]:
tuple=("bike","car","plane","auto")
print(tuple[1:-1])

('car', 'plane')

In [10]:
tuple=("bike","car","plane","auto")
if "bike" in tuple:
    print("yes")

yes

In [11]:
x=("auto","jet","plane","car")
y=list(x)
y[2]="bike"
x=tuple(y)
print(x)

TypeError: 'tuple' object is not callable

In [25]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

TypeError: 'tuple' object is not callable

In [13]:
#Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple =thistuple+ y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [26]:
thistuple=("car","bike","auto","plane")
y=list(thistuple)
y.remove("bike")
thistuple=tuple(y)

TypeError: 'tuple' object is not callable

In [15]:
tuple=("car","bike","auto","plane")
del tuple
print(tuple)

<class 'tuple'>

In [16]:
#unpacking the tuple
tuple=("car","bike","auto","plane")
(red, green, blue,orange)=tuple
print(red)
print(green)
print(blue)
print(orange)

car
bike
auto
plane

In [17]:
tuple=("car","bike","auto","plane")
(red, green, *blue,)=tuple
print(red)
print(green)
print(blue)

car
bike
['auto', 'plane']

In [18]:
tuple=("car","bike","auto","plane")
(red, *tropic, blue,)=tuple
print(red)
print(tropic)
print(blue)

car
['bike', 'auto']
plane

In [19]:
tuple=("car","bike","auto","plane")
for x in tuple:
    print(x)

car
bike
auto
plane

In [20]:
tuple=("car","bike","auto","plane")
for x in range(len(tuple)):
    print(tuple[x])

car
bike
auto
plane

In [21]:
thistuple=("car","bike","auto","plane")
i=0
while i<len(tuple):
    print(tuple[i])
    i=i+1

car
bike
auto
plane

In [22]:
tuple1=("car","bike","auto","plane")
tuple2=("car","bike","auto","plane")
tuple3=tuple1+tuple2
print(tuple3)

('car', 'bike', 'auto', 'plane', 'car', 'bike', 'auto', 'plane')

In [23]:
thistuple=("car","bike","auto","plane")
tuple=thistuple*3
print(tuple)

('car', 'bike', 'auto', 'plane', 'car', 'bike', 'auto', 'plane', 'car', 'bike', 'auto', 'plane')